{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}
dashboard when logged in
{% block main %}

<div class="container">
    <form class=" row p-2 px-2 align-items-center" action="/dashboard" method="post">
        <div class="col-8">
            <input autocomplete="off" autofocus class="form-control" id="name" name="name" placeholder="List Name"
                   type="text">
        </div>
        <button class="btn btn-primary col-4" type="submit">
            Add a list
            <i class="bi bi-bag-plus-fill ps-2"></i>
        </button>
    </form>
    <h1 class="mt-4">My shopping lists</h1>

    <section class="list-group py-2" style="height: 65vh">
        {% for list in lists %}
        <a href={{url_for("products_list",list_id=list[0])}} class="list-group-item list-group-item-action active my-1"
           id={{list[0]}}>
            {{list[1]}}
        </a>
        {% endfor %}

    </section>


</div>
{%endblock%}