{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<Section class="p-4 mb-4">
    <h1>Sign up to Shopping List</h1>
    <h5>create a free account or <a href="/">log in</a></h5>
</Section>
<section>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text">
        </div>

        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
</section>
{% endblock %}
